<script id="template_MaxLength" type="text/template">
    <input type="text" name="{{fieldName}}" id="{{id}}" ng-class="{error:showError}" ng-trim="false" ng-change="changed()" ng-model="ngModel"/>
    <span ng-if="showError" class="error">{{fieldName}} length is greater than {{max}}</span>
</script>

<script id="template_PhoneMask" type="text/template">
    <input type="text" name="{{fieldName}}" id="{{id}}" ng-class="{error:showError}" ng-change="changed()" ng-model="ngModel"/>
</script>
