<div>
    <button ng-click="goBack()">Back</button>
    <button ng-click="save(viewmodel.data)">Save</button>
    <p>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" max-length max="20" ng-model="viewmodel.data.FirstName"/>
    </p>
    <p>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" max-length max="10" ng-model="viewmodel.data.LastName"/>
    </p>
    <p>
        <label for="Street">Street</label>
        <input type="text" id="Street" name="Street" ng-model="viewmodel.data.Street"/>
    </p>
    <p>
        <label for="City">City</label>
        <input type="text" id="City" name="City" ng-model="viewmodel.data.City"/>
    </p>
    <p>
        <label for="State">State</label>
        <input type="text" id="State" name="State" ng-model="viewmodel.data.State"/>
    </p>
    <p>
        <label for="Phone">Phone</label>
        <input type="text" id="Phone" name="Phone" phone-mask="^\d+$" max="10" ng-model="viewmodel.data.Phone"/>
    </p>
</div>
