<div>
    <p>
        <label for="searchText">Filter by name:</label>
        <input name="searchText" type="text" data-ng-model="viewmodel.searchText" />
    </p>
    <ul class="list">
        <li data-ng-repeat="person in viewmodel.people | orderBy: 'FullName()' | filter:viewmodel.searchText">
            <div class="left label">Name:</div><div>{{person.FullName()}}</div>
            <div class="left label">Address:</div><div wraphtml text="person.Address()"></div>
            <div class="left label">Phone:</div><div wraphtml text="person.data.Phone | telephone"></div>
            <button ng-click="viewmodel.navigateToEdit(person.data.Id)">Edit</button>
        </li>
    </ul>
</div>
