ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.list > li {
    margin: 0;
    padding: 10px 0 10px 0;
    border-top: solid 1px #CCC;
}

ul.list > li:last-child {
    border-bottom: solid 1px #CCC;
}

.left {
    float: left;
}
.label {
    margin-right: 5px;
    font-weight: bold;
}

.error {
    font-size: 8pt;
    color: red;
}

input.error {
    background-color: red;
    color: white;
}
